table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  table {
      width: 100%;
  }
  .tableproducts{
      display: flex;
      justify-content: center;
  }
  
  .tableproducts .even{
      background-color: #DDD;
  }

  th {
     background-color: crimson; 
  }